@font-face {
  font-family: "PlusJakarta";
  font-weight: 100;
  src: url("../fonts/PlusJakartaDisplay-Regular.otf")
      format("embedded-opentype"),
    url("../fonts/PlusJakartaDisplay-Regular.otf") format("truetype");
}
html{
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: PlusJakarta;
}
/* Interns */
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
}
.link-3 {
  width: 66px;
  height: 25px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;

  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  list-style: none;
  color: #0e100f;
}

/* About us */

.link-2 {
  width: 85px;
  height: 25px;
  list-style: none;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;

  color: #0e100f;
}

/* Mentors */
.link-1 {
  height: 25px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  list-style: none;
  font-weight: 500;
  padding-left: 125px;
  padding-right: 125px;
  font-size: 20px;
  line-height: 25px;
  color: #0e100f;
}
.nav-link {
  text-decoration: none;
  color: #0e100f;
}
.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.header-1 {
  /* position: absolute; */
  max-width: 932px;

  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 71px;
  text-align: center;
  z-index: 1000;
  color: #0e100f;
}
.scroll{
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}
.box {
  width: 490px;
  position: relative;
  bottom: 30px;
  height: 43px;
  background: #edf345;
  border-radius: 100px;
}
.paragraph {
  /* position: absolute; */
  width: 700px;
  height: 50px;
  padding-top: 49px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: rgba(14, 16, 15, 0.57);
}

.section-2 {
  width: 100%;
  height: 100%;
  background-color: #000;
}
.section-2__tab {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 85px;
}
.section-2__tab1 {
  margin-top: 85px;
  /* margin-bottom: 85px; */
}
.section-2__tab1 h4 {
  margin-bottom: 42px;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  color: #edf345;
  text-align: center;
}
.section-2__tab1 p {
  width: 560px;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.67);
}
.section-2__tab2 {
  width: 640px;
  height: 592px;
  margin-top: 64px;
  border-radius: 20px;
  background: #d9d9d9;
}

.section-3 {
  padding-top: 128px;
}
.section-3 h4 {
  /* margin-bottom: 30px; */
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  color: #000;
  text-align: center;
}
.mentors-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 64px;
}
.mentors-card {
    margin-bottom: 64px;
    width: 300px;
    height: 100%;
    background: #F7F6F9;
    border-radius: 20px;
}

.mentors-card__image{
    width: 250px;
    height: 250px;
    margin: auto;
    justify-content: center;
    margin-top: 25px;
    border-radius: 10px;
    /* background: #edf345; */
}
.mentors-card__image img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.mentors-card__info{
    margin-left: 25px;
    margin-top: 16px;
    margin-bottom: 20px;
}
.mentors-card__info--name{
    font-weight: 600;
    padding-bottom: 8px;
font-size: 20px;
/* line-height: 30px; */

color: #000000;

}
.mentors-card__info--role{
    font-weight: 500;
font-size: 14px;
/* line-height: 25px; */

color: rgba(0, 0, 0, 0.5);
}



.section-4 {
    padding-top: 128px;
    background: #E5E5E5;
  }
  .section-4 h4 {
    /* margin-bottom: 30px; */
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    /* padding-top: 20px; */
    color: #000;
    text-align: center;
  }
  .interns-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 64px;
  }
  .interns-card {
      margin-bottom: 64px;
      width: 300px;
      height: 100%;
      background: #ffff;
      border-radius: 20px;
      position: relative;
  }
  .interns-card:hover{
    cursor: pointer;
  }
  
  .interns-card__image{
      width: 250px;
      height: 250px;
      margin: auto;
      justify-content: center;
      margin-top: 25px;
      border-radius: 10px;
      /* background: #edf345; */
  }
  .interns-card__image img{
      width: 100%;
      height: 100%;
      border-radius: 20px;
      object-fit: cover;
  }
  .image_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    margin: 25px;
    margin-right: 50px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.2);
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.image_overlay--blur {
    backdrop-filter: blur(5px);
}
.image_overlay > * {
    transform: translateY(20px);
    transition: transform 0.5s;
}
.image_overlay:hover{
    opacity: 1;
}
.image_overlay:hover > * {
    transform: translateY(0);
}
  .interns-card__info{
      margin-left: 25px;
      margin-top: 16px;
      margin-bottom: 20px;
  }
  .interns-card__info--name{
      font-weight: 600;
  font-size: 20px;
  /* line-height: 30px; */
  
  color: #000000;
  
  }
  .interns-card__info--role{
      font-weight: 500;
  font-size: 14px;
  /* line-height: 25px; */
  
  color: rgba(0, 0, 0, 0.5);
  }
  
  .footerr{
    width: 100%;
height: 279px;
background: #0E100F;
  }

  @media (max-width: 992px){
    header{
      box-sizing: border-box;
      height: 15vh;
      width: 100vw;
      padding: 0px 10px;
      display: flex;
      align-content: center;
    }
    header .link{
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0;
    }

    header .link li{
      margin: 0;
      padding: 0;
    }
    
    .section{
      height: 85vh;
      background: black;
      padding: 0px 15px;
    }
    .section .header-1{
      font-size: 40px;
      font-weight: bold;
      line-height: 40px;
      color: white;
    }
    
    .section span{
      color: #EDF345;
    }

    .section .box{
      height: 23px;
      bottom: 15px;
      width: 100vw;
      display: none;
    }

    .section .paragraph{
      width: auto;
      height: fit-content;
      margin: 15px 0px;
      padding: 0;
      font-size: 15px;
      font-weight: normal;
      color: white;
    }
    .nav-link{
      color: #fff;
    }
    .header{
      background: #000;
    }
   
    .section-2{
      background: #E5E5E5;
      color: #0E100F;
      padding: 0px 15px;
      height: 100vh;
      display: flex;
      align-content: center;
      justify-content: center;
    }

    .section-2__tab1{
      margin: 0%;
      align-self: center;
    }

    .section-2__tab1 h4{
      color: #0E100F;
      margin: 20px;
    }
    .scroll{
      margin-top: 50px;
      display: none;
    }
    .section-2__tab1 p{
      width: 100%;
      color: #0e100f;
      font-weight: normal;
      text-align: justify;
    }

    .section-2__tab2{
      display: none;
    }
    .section-2__tab{
      padding-bottom: 0px;
    }

    .content__description{
      flex-direction: column;
      background: linear-gradient(180deg, rgba(229,229,229,1) 80%, rgba(0,0,0,1) 80%);
    }

    .img-socials{
      width: 100%;
      height: 80%;
      font-size: 5px;
    }

    .img-socials img{
      width: 200px;
      height: 200px;
      align-self: flex-start;
    }

    .socials{
      align-self: flex-start;
    }

    .description-testimony{
      width: 100%;
      height: 30vh;
      font-size: 11px;
      text-align: start;
      justify-content: space-around;
    }
    
    .description{
      height: 50%;
    }

    .testimony{
      height: 30%;
    }

    .testimony em{
      margin: auto;
    }

  }