*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: GTWalsheimPro;
}
.container{
    /* background-image: url("../images/mars-sector-6-kwzWjTnDPLk-unsplash.jp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}
html{
    scroll-behavior: smooth;
}
nav{
    position: sticky;
    top: 0;
    background: rgba(0, 0, 0, 0.411);
}
nav a{
    color: #fff;
}
ul{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
li{
    list-style: none;
    font-size: 30px;
    text-transform: uppercase;
}
a{
    text-decoration: none;
    /* color: #f8f8ff;; */
    color: blueviolet;
}
.hero-section{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E9F0FF;
    /* backdrop-filter: brightness(40%); */
    /* background-image: linear-gradient(to right, #8e2de2, #4a00e0); */
    /* background-image: linear-gradient(to right, #00b4db, #0083b0); */
}
.hero-section_text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: ;
    font-size: 20px;
    padding-top: 9%;
    /* justify-content: center; */
    padding-left: 50px;
    color: #000;
}
.hero-section_image{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-section_image img{
    width: 80%;
}
.hero-section_text h1{                                       /* Ndiomu */
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #A67BF2 0%,
      #0E0E8C 29%,
      blueviolet 67%,
      #6349E5 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    font-size: 100px;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
}
@keyframes textclip {                                   /* Ndiomu */
    to {
      background-position: 200% center;
    }
  }

  .section-b{                                             /* Ndiomu */
    height: auto;
    background-color: #090955c4;
    padding-bottom: 50px;
    color: #fff;
}
.section-head{                                          /* Ndiomu */
    text-align: center;
    padding-top: 40px;
    margin-bottom: 55px;
    font-size: 40px;
    text-decoration: underline;
}
.section-cards{                                         /* Ndiomu */
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    gap: 200px;
    height: 85%;
}
.section-cards-1{                                       /* Ndiomu */
    /* border: 1px solid red; */
    width: 30%;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    background-color: #f8f8ff;
    color: #fff;
    /* margin-bottom: 20px; */
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.section-cards-1 h3{                                    /* Ndiomu */
    font-size: 23px;
    margin-top: 13px;
    margin-bottom: 15px;
}
.section-cards-1 p{
    line-height: 20px;
}
.web-dev{                                                /* Ndiomu */
    width: 100%;
}
.Ui-image{                                               /* Ndiomu */
    width: 60%;
}
.section-2{                                             
    /* background: rgb(34, 34, 34); */
    /* background:linear-gradient(45deg, #9ec9ea, #61559b); */
    background: linear-gradient(to right, #7f3cf1, #3d1ce0 );
    padding: 45px 5px;
}
.section-c{                                             /* Ndiomu */
    background: linear-gradient(to right, #7f3cf1, #3d1ce0 );
    padding: 45px 5px;
    /* border-bottom: 10px solid #1a1a1aee;
    border-top: 10px solid #4b19a144; */
}
.mentor-container{                                      /* Ndiomu */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.h2{
    padding-bottom: 30px;
    font-size: 25px;
    margin-bottom: 35px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #f8f8ff;
}
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contain{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.containn{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    position: relative;
    width: 250px;
    margin: 40px 20px;
    height: 190px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
  }
  .card:hover{
    height: 200px;
    cursor: pointer;
  }
  
  .imgBx{
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 15px 50px rgba(0,0,0,0.35);
    overflow: hidden;
    transition: 0.2s;
  }
  .card:hover .imgBx{
    height: 140px;
    width: 150px;
  }
  .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card .content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .card .content .details{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.2s;
  }
  .card .content .details h2{
    padding-top: 15px;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.2em;
  }
  
  .card .content .details h2 span{
    font-size: 0.8em;
    font-weight: 500;
    line-height: 1.2em;
    color: #999;
  }